@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

h1,
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
}
p {
  text-align: justify;
  font-family: "Verdana", Geneva, sans-serif;
}
body {
  /* The image used */
  background-image: url("https://www.robovent.com/wp-content/uploads/blue-AutomotiveCalc_2018-background.jpg");

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bodyDiv {
  background-color: white;
}
#profilePic {
  float: left;
  border-radius: 20px;
  max-width: 100%;
  height: auto;
  border: 10px solid white;
}

/*W3 movable banner */
.w3-content {
  position: relative;
  margin-top: 0em;
}
.w3-btn,
.w3-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.w3-btn,
.w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.w3-disabled,
.w3-btn:disabled,
.w3-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.w3-disabled *,
:disabled * {
  pointer-events: none;
}
.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-dropdown-click .w3-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}
.w3-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.w3-content button {
  position: absolute;
  top: 32%;
}

.w3-display-right {
  right: 0;
}
.w3-display-left {
  left: 0;
}

/*Footer */
footer {
  text-align: left;
  padding: 3px;
  background-color: lightgray;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 90%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
